{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout de catégorie
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez ajouter la catégorie</h1>

            <form action="{{ path('admin_category_add_save') }}" method="post" class="form" enctype="multipart/form-data">
                <input type="text" name="name" class="input-product" placeholder="Entrer le nom de la catégorie" >
                <textarea name="description" id="description" cols="30" rows="10" class="input-product" placeholder="Entrer la description de la catégorie"></textarea>
                <label class="label-media" for="fichier">Choisissez une image</label>
                <input type="file" name="image" id="fichier" placeholder="Votre image" class="file">
                <input type="submit" value="Ajouter" class="button-product">
            </form>




        </div>
    </div>
{% endblock main %}