{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Accueil de l'administrateur
{%  endblock %}


{%  block main %}
    <div class="h70">
        <div class="intro-admin">
            <h1>Bienvenue sur Super-eDiscount cher Administrateur</h1>
            <h2>Vous avez accés à toutes les fonctionnalités</h2>
        </div>

    </div>

{%  endblock %}