{% extends 'front/base.html.twig' %}

{% block metaTitle %}
    Accueil de l'administrateur
{%  endblock %}


{%  block main %}
    <h1>Bienvenue sur Super Amazon cher Administrateur</h1>
    <h2>Vous avez accés à toutes les fonctionnalités</h2>
{%  endblock %}