{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Modification de licence
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez modifier la licence</h1>

            <form action="{{ path('admin_licence_save', {'id' : licence.id}) }}" method="post" class="form">
                <input type="text" name="name" class="input-product" placeholder="Entrer le nom dde la clicence" value="{{ licence.name }}">
                <textarea name="description" id="description" cols="30" rows="10" class="input-product">{{ licence.description }}</textarea>
                </select>
                <input type="submit" value="Modifier" class="button-product">
            </form>




        </div>
    </div>
{% endblock main %}