{% extends 'front/base.html.twig' %}


{% block main %}
    <div class="container">
        <div class="total">
            <h1>Total</h1>
            <h2>{{ command.price }} €</h2>
        </div>
        <form action="" class="form">
            <label for="name" class="label-media">Nom sur la carte</label>
            <input type="text" placeholder="Roger Le Tavernier" class="input-product" id="name">
            <p class="line-1"></p>
            <label for="number" class="label-media">Numéro de la carte</label>
            <input type="text" placeholder="1234 5678 9012 3456" class="input-product" id="number">
            <p class="line-2"></p>
            <label for="code" class="label-media">Code de sécurité</label>
            <input type="text" placeholder="12345" class="input-product" id="code">
            <input type="submit" value="Payer" class="button-product">
        </form>
    </div>




{% endblock %}