{% extends 'front/base.html.twig' %}


{% block main %}
    <div class="container">
        <div class="total">
            <h1>Total</h1>
            <h2>{{ command.price }} €</h2>
        </div>
        <form action="{{ path('mail', {'id' : command.id}) }}" class="form" method="post">
            <label for="name" class="label-media">Nom sur la carte</label>
            <input type="text" placeholder="Roger Le Tavernier" class="input-product" name="name"
                    {% if app.user %} {% if app.user.cardName is not null %}value="{{ app.user.cardName }}" {% endif %}  {% endif %}>
            <p class="line-1"></p>
            <label for="number" class="label-media">Numéro de la carte</label>
            <input type="text" placeholder="1234 5678 9012 3456" class="input-product" name="number"
                   {% if app.user %}{% if app.user.cardNumber is not null %}value="{{ app.user.cardNumber }}" {% endif %}{% endif %} >
            <p class="line-2"></p>
            <label for="code" class="label-media">Code de sécurité</label>
            <input type="text" placeholder="12345" class="input-product" name="code">
            <input type="submit" value="Payer" class="button-product">
        </form>
    </div>
{% endblock %}